@import url(/css/font.css);

h1, h2, h3, blockquote, p {
    font-family: Towards, sans-serif;
    color: #FFFFFF;
}
a {
    text-decoration: none;
}

body {
    
    background-image: url(ressources/img/rsc/bckUniverse.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    background-attachment: fixed;
    padding: 0px 0px 50px 0px ;
}

#bloc-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
}

header {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

#index-title {
    font-size: 70px;
    font-weight: 600;
    text-align: center;
    margin-top: 140px;
    margin-bottom: 25px;
    width: auto;

}
#index-quote {
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 25px;
}

#social-network {
    display: flex;
    flex-direction: row;
    align-self: center;
    width: calc((120px * 4 ) + (50px * 3));
    height: auto;
    gap: 50px;
}

#social-network a img {

    width: 120px;
    height: 104px;
    margin-top: 25px;
    margin-bottom: 100px;
}

#section-project {
    display: flex;
    justify-content: center;
    padding: 0 0 50px 0;
}

#gallery-project {
    display: flex;
    background-color: rgba(217, 217, 217, 25%);
    width: 1000px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
    margin-bottom: 25px;
    justify-content: center;
    gap: 30px;
    border-radius: 15px;
}

#gallery-project img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

#gallery-project p {
    font-size: 12px;
}

#gallery-language {
    display: flex;
    background-color: rgba(217, 217, 217, 25%);
    width: 700px;
    margin-left: 32%;
    margin-right: 25%;
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: center;
    gap: 20px;
    border-radius: 15px;
}

#section-language__title {

    margin-top: 0;
    margin-bottom: 50px;

}

#gallery-language img {

    width: calc ( 100% / 3 ) - ( 4 * 20px);
    height: 184px;

}
