@import url(css/font.css);

h1, h2, h3, blockquote, p {
    font-family: Towards, sans-serif;
    color: #FFFFFF;
}
a {
    text-decoration: none;
}

body {
    
    background-image: url(./ressources/img/rsc/bckUniverse.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    background-attachment: fixed;
    padding: 0px 0px 50px 0px ;
}

#bloc-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    gap: 80px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

#container__title {
    
    text-align: center;
    margin-top: 140px;
    margin-bottom: 25px;
    width: auto;

}

#index-title {

    font-size: 3vw;
    font-weight: 600;
    margin: 0;
    padding: 0;

}

#container__quote {
    
    margin-top: 25px;
    margin-bottom: 25px;

}

#index-quote {

    font-size: 0.8vw;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

#social-network {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    width: calc((10vw * 4 ) + (50px * 3));
    height: auto;
    gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
}

#social-network a {
    width: 6vw;
    height: 10vh;
}

#social-network a img {

    width: 6vw;
    margin-top: 25px;
    margin-bottom: 2vh;
}

#section-project {
    display: flex;
    justify-content: center;
    padding: 0 0 50px 0;
}

#gallery-project {
    display: flex;
    background-color: rgba(217, 217, 217, 25%);
    width: calc((10vw * 4 ) + (50px * 3));
    padding-top: 30px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
    margin-bottom: 25px;
    justify-content: center;
    gap: 30px;
    border-radius: 15px;
    flex-wrap: wrap;
}

#gallery-project a {
    width: calc( (100% / 4 ) + ( 30px * 3));
    
}

#gallery-project img {
    width: 90%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    
}

#gallery-project p {
    font-size: 12px;
}

#section-language {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#gallery-language {
    display: flex;
    background-color: rgba(217, 217, 217, 25%);
    width: 700px;
    padding-top: 25px;
    padding-bottom: 25px;
    gap: 20px;
    border-radius: 15px;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
}

#section-language__title {

    margin-top: 0;
    margin-bottom: 50px;

}

#gallery-language img {

    width: calc ( 100% / 3 ) - ( 4 * 20px);
    height: 184px;

}
