@import url(css/font.css);

h1, h2, h3, blockquote, p {
    font-family: Towards, sans-serif;
    color: #FFFFFF;
}
a {
    text-decoration: none;
    color: #FFFFFF;
}

body {
    padding: 0 auto;
    margin: 0 auto;
    /*background-image: url(./ressources/img/rsc/bckUniverse.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;*/
    background-color: #0a071c;
    width: 100vw;;
    display: flex;
    justify-content: center;
    align-content: center;
}

#bloc-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 70%;
    height: auto;
    gap: 80px;
    
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

/* Style conteneur du titre d'en-tête */

#container__title {
    
    text-align: center;
    margin-top: 75px;
    padding-bottom: 25px;
    width: auto;

}

/* Style bordure contour du conteneur titre */

.border_bottom {
    border-bottom: 2px solid whitesmoke;
    border-radius: 10px;
}

.border_right {
    border-right: 2px solid whitesmoke;
}

/* Style titre H1 */

#index-title {

    font-size: 7vw;
    font-weight: 600;
    margin: 0;
    padding: 0;

}

/* Style slogan personnelle */

#container__quote {
    
    margin-top: 25px;
    margin-bottom: 25px;

}

#index-quote {

    font-size: 13px;
    font-weight: 500;
    margin: 0;
    padding: 0;

}
/* Style article biographie d'entreprise */
/* Style gallerie d'icone des média sociaux */

#social-network {

    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
    height: auto;
    gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;

}

#social-network a {

    display: flex;
    justify-content: center;
    width: 120px;
    height: 75px;
    border-bottom: 1px solid #FFFFFF;
    border-radius: 10px;
    align-items: baseline;
    padding-bottom: 15px;

}

#social-network a img:hover {
    transform: scale(120%);
    transition-duration: 0.7s;
}

#social-network a img {

    align-self: center;
    width: 120px;
    height: 75px;
    margin-top: 25px;
    margin-bottom: 2vh;

}

/* Style background des galleries */

.background-transparent {
    
    z-index: 10;
    background-color: rgba(217, 217, 217, 25%);
    opacity: 0.4;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: absolute;

}

/* Style gallery des projets */

#section-project {

    display: flex;
    justify-content: center;
    padding: 0 0 20px 0;
    position: relative;
    width: 100%;

}

#gallery-project {

    display: flex;
    width: calc((100% * 4 ) + (50px * 3));
    padding-top: 30px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
    margin-bottom: 25px;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;

}

#gallery-project a {

    width: calc( (100% / 4 ) + ( 30px * 3));
    
}

#gallery-project img {

    width: 90%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    
}

#gallery-project p {

    font-size: 12px;

}

/* Style gallerie d'outils */

#section-utils {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
}

/* Style gallerie language */

#section-utils__language {

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    position: relative;

}

#section-utils__language__title {

    height: auto;
    font-size: medium;

}

#gallery-utils__language {

    display: flex;
    width: 100%;
    gap: 20px;
    border-radius: 15px;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.card-language {


    width: calc(( 100% / 3 ) - ( 4 * 20px));
    height: auto;

}

#gallery-utils__language img {

    width: 100%;

}

/* gallerie des Outils graphiques */

#section-utils__graphist {

    display: flex;
    flex-direction: column;
    width: 45%;
    position: relative;

}

#section-graphist__title {

    font-size: medium;

}

#gallery-utils__graphist {

    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;

}

#card-utils__graphist {

    width: calc(( 100% / 3 ) - ( 4 * 20px));
    height: auto;
}

#card-utils__graphist img {

    width: 100%;

}